@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<WebBlogs.Models.Post>

@{
    ViewData["Title"] = "Post";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <h5 class="card-header">QUẢN LÍ BÀI VIẾT</h5>
            <div class="row">
                <div class="col-lg-6">


                    <div class="form-group mg-b-10-force">


                        <select class="form-control" id="catID" name="catID" asp-items="@ViewBag.DanhMuc">
                            <option label="Lọc theo danh mục"></option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <input class="form-control" placeholder="Tìm kiếm bài viết" type="text" id="keyword" name="keyword">
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <a asp-area="Admin" asp-controller="Posts" asp-action="Create" class="btn btn-outline-secondary">Create</a>
                    <table class="table table-striped table-bordered first">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Danh mục</th>
                                <th>Trạng thái</th>
                                <th>Sắp xếp</th>
                            </tr>
                        </thead>
                        <tbody id="records_table">
                            @if (Model != null && Model.Count() > 0)
                            {
                                foreach (var item in Model)
                                {
                                    string url = $"/{item.Alias}.html";
                                    <tr>
                                        <th scope="row">@item.PostId</th>
                                        <td><a href="/@url">@item.Title</a></td>
                                        <td>
                                            <a href="/@item.Cat.Alias">@item.Cat.CatName</a>
                                        </td>
                                        <td>
                                            @if (item.Published == true)
                                            {
                                                <span class="badge badge-primary">Public</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-primary">Non Public</span>
                                            }
                                        </td>
                                        <td>

                                            <a href="@url" target="_blank" class="btn btn-outline-success">Details</a>
                                            <a asp-area="Admin" asp-controller="Posts" asp-action="Edit" asp-route-id="@item.PostId" class="btn btn-outline-info">Edit</a>
                                            <a asp-area="Admin" asp-controller="Posts" asp-action="Delete" asp-route-id="@item.PostId" class="btn btn-outline-danger">Delete</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <div class="Page navigation example">
                        <ul class="pagination">
                            <pager class="pager-container" options="@PagedListRenderOptions.Bootstrap4PageNumbersOnly" list="@Model" asp-area="Admin" asp-controller="Posts" asp-action="Index" />

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            jQuery("#catID").change(function () {
                var _catID = jQuery(this).children(":selected").attr("value");
                catid = parseFloat(_catID);
                $('#catID option')
                    .removeAttr('selected');
                $("#catID > [value=" + catid + "]").attr("selected", "true");
                $.ajax({
                    url: '/Admin/Posts/Filtter',
                    datatype: "json",
                    type: "GET",
                    data: {
                        catID: catid
                    },
                    async: true,
                    success: function (results) {
                        if (results.status == "success") {
                            window.location.href = results.redirectUrl;
                        }
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });

            $("#keyword").keyup(function () {
                var strkeyword = $('#keyword').val();
                $.ajax({
                    url: '~/Admin/Search/FindBaiViet/',
                    datatype: "json",
                    type: "POST",
                    data: { keyword: strkeyword },
                    async: true,
                    success: function (results) {
                        $("#records_table").html("");
                        $("#records_table").html(results);
                    }
                });
            });
            $('#dataTable-1').DataTable(
                {
                    autoWidth: true,
                    "lengthMenu": [
                        [16, 32, 64, -1],
                        [16, 32, 64, "All"]
                    ]
                });
        });
    </script>

}